.app {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 5rem;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: inherit;
}
